# This script calculates the metrics for the hancode vs. the model on the sampled images

In [1]:
from sklearn import metrics
import pandas as pd

In [2]:
df1 = pd.read_excel('handcode/n_people_autocode_1.xlsx')

In [3]:
df2 = pd.read_excel('handcode/n_people_autocode_2.xlsx')

The accuracy of the manual coders

In [4]:
metrics.accuracy_score(df1.handcode, df2.handcode)

0.877

In [5]:
metrics.mean_squared_error(df1.handcode, df2.handcode)

1.019

On average they diverge by 1 person.

Creating a dataset of the rows where the amount of people is the same

In [6]:
df_validated = df1[df1.handcode == df2.handcode]

In [7]:
len(df_validated)

877

In [8]:
metrics.accuracy_score(df_validated.auto_people, df_validated.handcode)

0.9053591790193842

In [9]:
metrics.mean_squared_error(df_validated.auto_people, df_validated.handcode)

0.556442417331813

Reading in the gender handcode

In [10]:
gender1 = pd.read_excel('handcode/gender_autocode_1.xlsx')
gender2 = pd.read_excel('handcode/gender_autocode_2.xlsx')

Coder 1 did not always use the same catagoris, and said that two images were missing.

In [11]:
gender1.loc[gender1.handcode == 'MANGLER', 'handcode'] = 'NAF'
gender1.loc[gender1.handcode.isna(), 'handcode'] = 'NAF'
gender1.loc[gender1.handcode == 'Women', 'handcode'] = 'Woman'

How consiten are they

In [12]:
sum(gender1.handcode == gender2.handcode) /1000 #accuracy with 3 catagories calculated manually becasue it is easiere

0.965

Creating the validated dataset

In [13]:
df_validated = gender1[gender1.handcode == gender2.handcode]

In [14]:
print("The model found ", len(df_validated[df_validated.handcode == 'NAF']), 'faces which were not faces out of ',
      len(df_validated), "validated images. Givin a false positive of ",
      round(len(df_validated[df_validated.handcode == 'NAF']) / len(df_validated),2) )

The model found  29 faces which were not faces out of  965 validated images. Givin a false positive of  0.03

In [15]:
df_validated = df_validated[df_validated.handcode != 'NAF']
df_validated.reset_index(inplace = True, drop = True)

In [16]:
gender_dict = {'Woman':1,
              'Man': 0}
#b = [gender_dict[df_validated.loc[i, 'handcode']] for i in range(len(df_validated))]
df_validated.auto_gender = [gender_dict[df_validated.loc[i, 'auto_gender']] for i in range(len(df_validated))]
df_validated.handcode = [gender_dict[df_validated.loc[i, 'handcode']] for i in range(len(df_validated))]

In [17]:
len(df_validated)

936

In [18]:
metrics.accuracy_score(df_validated.auto_gender, df_validated.handcode)

0.8301282051282052

In [19]:
metrics.recall_score(df_validated.auto_gender, df_validated.handcode)

0.858139534883721

In [20]:
df_validated

,Unnamed: 0,random_face_number,image_name,face_tensor,auto_gender,handcode
0,1,1,posts\ullatornaes\pic_58.jpeg,"tensor([408.2204, 6.2747, 439.5296, 50.9748])",0,0
1,2,2,posts\susannezimmerfriegronne\pic_143.jpeg,"tensor([292.6525, 291.8512, 331.4240, 342.0738])",1,1
2,3,3,posts\susannezimmerfriegronne\pic_143.jpeg,"tensor([ 39.6454, 232.8243, 86.8426, 287.4897])",1,1
3,4,4,posts\susannezimmerfriegronne\pic_143.jpeg,"tensor([504.1330, 307.5060, 539.2911, 354.8126])",0,0
4,5,5,posts\susannezimmerfriegronne\pic_143.jpeg,"tensor([ 73.8721, 152.0673, 103.0312, 187.1326])",1,1
...,...,...,...,...,...,...
931,995,995,posts\kaaredybvad\pic_27.jpeg,"tensor([184.7414, 124.2967, 219.2052, 164.7777])",0,0
932,996,996,posts\kaaredybvad\pic_27.jpeg,"tensor([345.2533, 180.3562, 372.6842, 213.0734])",1,1
933,997,997,posts\kaaredybvad\pic_27.jpeg,"tensor([ 1.9734, 139.6313, 25.1866, 190.3149])",0,1
934,998,998,posts\katarinaammitzboell\pic_100.jpeg,"tensor([224.1817, 71.9618, 303.5226, 178.3400])",1,1
935,999,999,posts\katarinaammitzboell\pic_100.jpeg,"tensor([342.8258, 1.3960, 423.4669, 106.0224])",0,0